<header>
    <div class="logo">
      <h1>KiezEvents</h1>
    </div>
    <nav>
      <ul>
        <li>
            <a class="nav-link" routerLink="/" routerLinkActive="myactive">Home</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/events" routerLinkActive="myactive">Veranstaltungen</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/create-event" routerLinkActive="myactive">Veranstaltung hinzufügen</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/about" routerLinkActive="myactive">About</a>   
        </li>
        <li>
            <a class="nav-link" routerLink="/contact" routerLinkActive="myactive">Contact</a>       
        </li>
        
      </ul>
    </nav>
  </header>
  
