  .navbar {
    padding: 2rem 0;
    background-color: #e0f0f0;
    /* Farbverlauf*/
    /*background-image: linear-gradient(90deg, #009970 0%, #e0f0f0 100%);*/
    /*background-image: linear-gradient(50deg, #129fbb 0%, #3cf8bc 100%);*/
    background-image: linear-gradient(50deg, #8812bb 0%, #f53189 100%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  }
  
  .offcanvas-title {
    font-size: 24px; /* Größe des Textes */
    font-weight: 900;
    color: #f8f8f8;
  }

  .offcanvas-header {
    background-image: linear-gradient(50deg, #8812bb 0%, #f53189 100%);
  }

  .navbar-brand {
    font-weight: 900;
    color: #f8f8f8;
    font-size: 24px; /* Größe des Textes */
    transition: 0.3s color;
    /* Schatten */
    text-shadow: 2px 2px 2px #b9abab;
  }
  
  .login-button {
      background-color: #009970;
      color: #fff;
      font-size: 14px; /* Größe des Textes */
      padding: 8px 20px;
      border-radius: 50px;
      text-decoration: none;
      transition: 0.3s background-color;
  }
  
  .login-button:hover {
    background-color: #00b383;
  }
  
  .navbar-toggler {
    border: none;
    font-size: 1.25rem;
  }
  
  .navbar-toggler:focus, .btn-close:focus {
    outline: none;
    box-shadow: none  ;
  }
  
  .nav-link {
    color: #f8f8f8; 
    font-weight: 500;
    position: relative;
  }

  .nav-link:hover, .nav-link.active {
    color: #000;
  }

  .navbar-shrink {
    padding: 10px 0; /* Ändern Sie diese Werte entsprechend */
  }

  
  @media (min-width: 992px) { 

      .nav-link::before { 
      content: "";
      position: absolute;   
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 2px;
      background-color: #009970;
      visibility: hidden;
      transition: 0.3s ease-in-out;
      }
  
      .nav-link:hover::before, .nav-link.active::before { 
      width: 100%;
      visibility: visible;
      }
  }

  @media (max-width: 992px) { /* 992px ist der Breakpoint für große Bildschirme in Bootstrap */
    

    .nav-link {
        color: #f53189; /* Ersetzen Sie #yourColor durch die gewünschte Farbe */
    }
}

  