
<nav class="navbar navbar-expand-lg fixed-top navbar-custom"> <!-- expand-lg = breakpoint at which the navbar will expand that means the hamburger menu will appear -->
    <div class="container-fluid"> 
      <a class="navbar-brand me-auto" href="#">KiezEvents</a> 
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel"> 
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">KiezEvents</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-center flex-grow-1 pe-3"> 
            <li class="nav-item">
              <a class="nav-link mx-lg-2" aria-current="page" routerLinkActive="active" [routerLink]="'/'">Home</a> 
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" routerLinkActive="active" [routerLink]="'/event'">Veranstaltungen</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link mx-lg-2" routerLinkActive="active" [routerLink]="'/create'">Neue Veranstaltung</a> 
            </li>
          </ul>
        </div>
      </div>
      <!-- navbar-toggler -> Button zum öffnen und Schließen hamburger menu -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation"> 
        <!-- data-bs-toggle="offcanvas" und data-bs-target="#offcanvasNavbar": Diese Datenattribute steuern das Verhalten des Hamburger-Menüs. 
            Wenn der Button mit der Klasse navbar-toggler geklickt wird, wird das Element mit der ID offcanvasNavbar als Offcanvas-Menü geöffnet. -->
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
