@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.container {
  margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    
    /*
    border: 1px solid #fbf0d0;
    border-radius: 5px;
    background-color: #fbdffc;
    */
     
}

h1 {
    margin-bottom: 20px;
}

.description-container {
  position: relative;
}

.description-container textarea {
  width: 100%;
  height: 150px; 
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}