
form {
  margin-top: 85px;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

.description-container {
  position: relative;
}

.description-container textarea {
  width: 100%;
  height: 150px; 
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.btn-success {
  background-color: #8812bb;
}

.btn-success:hover {
  background-color: #bd42f2;
}

.btn-secondary {
  background-color: #8c8e8e;
}

.btn-secondary:hover {
  background-color: #b1b3b3;
}