<form>
    <div class="container mt-5">
        <h1 class="my-4">Veranstaltung hinzufügen</h1>
    
        <div class="row mb-3">
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" id="idFirstname" placeholder="Titel der Veranstaltung" [formControl]="titleFC"
                        [class]="titleFC.valid ? 'is-valid' : 'is-invalid'">
                    <label for="idFirstname">Veranstaltungsname</label>
                    <div class="invalid-feedback">
                        Bitte geben Sie den Namen der Veranstaltung ein.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="date" class="form-control" id="idLastname" placeholder="Datum der Veranstaltung " [formControl]="dateFC"
                        [class]="dateFC.valid ? 'is-valid' : 'is-invalid'">
                    <label for="idLastname">Datum</label>
                    <div class="invalid-feedback">
                        Bitte geben Sie das Datum der Veranstaltung ein.
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <div class="form-floating">
                    <input type="time" class="form-control" id="starttime" placeholder="Beginn der Veranstaltung" [formControl]="starttimeFC"
                        [class]="starttimeFC.valid ? 'is-valid' : 'is-invalid'">
                    <label for="starttime">Beginn</label>
                    <div class="invalid-feedback">
                        Bitte geben Sie den Beginn der Veranstaltung ein.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="time" class="form-control" id="endtime" placeholder="Ende der Veranstaltung" [formControl]="endtimeFC"
                        [class]="endtimeFC.valid ? 'is-valid' : 'is-invalid'">
                    <label for="endtime">Ende</label>
                    <div class="invalid-feedback">
                        Bitte geben Sie das Ende der Veranstaltung ein.
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" id="location" placeholder="Ort der Veranstaltung" [formControl]="locationFC"
                        [class]="locationFC.valid ? 'is-valid' : 'is-invalid'">
                    <label for="location">Ort</label>
                    <div class="invalid-feedback">
                        Bitte geben Sie eine Veranstaltungsort ein.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" id="link" placeholder="Link zur Veranstaltung" [formControl]="linkFC"
                        [class]="linkFC.valid ? 'is-valid' : 'is-invalid'">
                    <label for="link">Link (optional)</label>
                    <div *ngIf="linkFC.invalid && (linkFC.dirty || linkFC.touched)" class="invalid-feedback">
                        Bitte geben Sie einen gültigen Link zur Veranstaltung ein (optional).
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Beschreibung</label>
            <div class="form-floating">
                <textarea class="form-control" id="description" placeholder="Beschreibung der Veranstaltung" [formControl]="descriptionFC"
                    [class]="descriptionFC.valid ? 'is-valid' : 'is-invalid'"></textarea>
            </div>
            <div class="invalid-feedback">
                Bitte geben Sie eine kurze Beschreibung der Veranstaltung ein.
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <button type="submit" class="w-100 btn btn-success">Hinzufügen</button>
            </div>
            <div class="col">
                <button type="button" class="w-100 btn btn-secondary" (click)="cancel()">Abbrechen</button>
            </div>
        </div>
    </div>
</form>

