<main class="home-page">
    <img class="background-image" src="../../assets/images/fusion.jpeg" alt="Hintergrundbild">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 text-center">
                <h1 class="mb-3">Willkommen bei KiezEvents!</h1>
                <p class="lead">Hier findest du aktuelle <a class="link" [routerLink]="['/event']">Events</a> in deinem Kiez.<br>
                    Du kannst Veranstaltungen hinzufügen, aktualisieren und löschen.<br> 
                    Viel Spaß!</p>
            </div>
        </div>
    </div>
</main>