<main class="home-page">
    <img class="background-image" src="../../assets/images/haus.jpeg" alt="Hintergrundbild: Hausfassade ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 text-center">
                <h1 class="mb-3">Willkommen bei KiezEvents!</h1>
                <p class="lead">Hier findest du <a class="link" [routerLink]="['/event']">aktuelle Events</a> in deinem Kiez.<br>
                    Du kannst weitere Veranstaltungen, Workshops oder Angebote <a class="link" [routerLink]="['/create']">hinzufügen</a>...<br>
                    Viel Spaß! <br> <br>
                    <span class="special-font">
                        # zur Förderung des nachbarschaftlichen Netzwerks & demokratischer Mitbestimmung
                    </span>
                </p>
            </div>
        </div>
    </div>
</main>